::ng-deep{
    .p-datatable-table-container{
        max-height: 400px;
    }
}

.cardFor {
  display: none;
  margin-bottom: 15px;

  >div {
    overflow: auto;
    border-left: 5px solid #57b596;
    padding-left: 5px;

    p {
      margin: 0;
    }
  }
}
.paginator-responsive{
    display: none;
}

@media (max-width: 768px) {
    .table-responsive p-table{
        display: none;
    }
    .card-header{
        align-items: start !important;
    }

    .paginator-responsive{
        display: flex;
    }
    .cardFor {
        padding: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-radius: 12px;

        input {
            margin-right: 10px;
        }

        >div {
            display: flex;
            gap: 20px;

            p {
                margin-bottom: 5px;
            }
        }
    }
}

@media (max-width: 550px) {
    .cardFor {
        margin-bottom: 5px;
        padding: 8px;

        >div {

        .item-card,
        .item-card span {
            margin-bottom: 2px;
        }
        }
    }
}