.selectedAll {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 5px;
}

.modal-title {
    font-size: 1.2rem;
    color: #fdf9f9;
}


/* Quitar estilos nativos de Bootstrap */
.custom-tabs {
  border-bottom: none;
}

.custom-tabs .nav-link {
  border: none !important;
  background: transparent !important;
  position: relative;
  color: #6c757d;
  font-weight: 500;
  padding: 8px 14px;
  transition: color 0.3s ease;
}

/* Hover */
.custom-tabs .nav-link:hover {
  color: #6f42c1; /* morado como en tu UI */
}

/* Estado activo */
.custom-tabs .nav-link.active {
  color: #6f42c1 !important;
  font-weight: 600;
  background: transparent !important;
}

/* Línea inferior (INVISIBLE por defecto) */
.custom-tabs .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 3px;
  background-color: #6f42c1;
  transition: width 0.25s ease;
  border-radius: 3px;
}

/* Línea visible SOLO en activo */
.custom-tabs .nav-link.active::after {
  width: 100%;
}
