<div class="card firstCard">
  <div class="card-body p-0">

    <!-- EMPRESA / FUNDO -->
    <div class="row">
      <div class="col-6 col-lg-6 marginBottom">
        <fieldset>
          <div class="form-group row box-labelFloat">
            <label class="col-lg-3 col-form-label">
              <b class="text-danger">*</b> Empresa
            </label>
            <div class="col-lg-9">
              <select [(ngModel)]="configuracion.idempresa" name="empresa" class="form-select mb-2" [ngClass]="{
                  'is-invalid': showValidation && !configuracion.idempresa,
                  'is-valid': configuracion.idempresa
                }" disabled>
                <option [ngValue]="''">Seleccione una opción</option>
                <option *ngFor="let t of empresas" [ngValue]="t.ruc">
                  {{ t.razonsocial }}
                </option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="col-6 col-lg-6 marginBottom">
        <fieldset>
          <div class="form-group row box-labelFloat">
            <label class="col-lg-3 col-form-label">
              <b class="text-danger">*</b> Fundo
            </label>
            <div class="col-lg-9">
              <select [(ngModel)]="configuracion.idfundo" name="fundo" class="form-select mb-2" [ngClass]="{
                  'is-invalid': showValidation && !configuracion.idfundo,
                  'is-valid': configuracion.idfundo
                }">
                <option [ngValue]="''">Seleccione una opción</option>
                <option *ngFor="let t of fundos" [ngValue]="t.codigoFundo">
                  {{ t.nombreFundo }}
                </option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <!-- CULTIVO / TURNO -->
    <div class="row">
      <div class="col-6 col-lg-6 marginBottom">
        <fieldset>
          <div class="form-group row box-labelFloat">
            <label class="col-lg-3 col-form-label">
              <b class="text-danger">*</b> Cultivo
            </label>
            <div class="col-lg-9">
              <select [(ngModel)]="configuracion.idcultivo" name="cultivo" class="form-select mb-2"
                (ngModelChange)="onCecoTurnoProyectoChange(true)" [ngClass]="{
                  'is-invalid': showValidation && !configuracion.idcultivo,
                  'is-valid': configuracion.idcultivo
                }">
                <option [ngValue]="''" disabled>Seleccione un cultivo</option>
                <option *ngFor="let t of cultivos" [ngValue]="t.id">
                  {{ t.descripcion }}
                </option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="col-6 col-lg-6 marginBottom">
        <fieldset>
          <div class="form-group row box-labelFloat">
            <label class="col-lg-3 col-form-label">
              <b class="text-danger">*</b> Turno
            </label>
            <div class="col-lg-9">
              <app-dropdown [(ngModel)]="configuracion.idturno" (ngModelChange)="darProyectoCecos(true)"
                [editable]="true" [data]="filteredTurnos" [valueField]="'codTurno'" [optionLabel]="'nombreTurno'"
                [textShow]="'Turno'" [textShow2]="'un Turno'">
              </app-dropdown>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <!-- CECO / LABOR -->
    <div class="row">
      <div class="col-6 col-lg-6 marginBottom">
        <fieldset>
          <div class="form-group row box-labelFloat">
            <label class="col-lg-3 col-form-label">
              <b class="text-danger">*</b> Ceco
            </label>
            <div class="col-lg-9">
              <app-dropdown [(ngModel)]="configuracion.idceco" (ngModelChange)="darProyectoInversionLabor(true)"
                [editable]="true" [data]="filteredCecos" [valueField]="'id'" [optionLabel]="'localname'"
                [textShow]="'Ceco'" [textShow2]="'un ceco'" [required]="true">
              </app-dropdown>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="col-6 col-lg-6 marginBottom">
        <fieldset>
          <div class="form-group row box-labelFloat">
            <label class="col-lg-3 col-form-label">
              <b class="text-danger">*</b> Labor
            </label>
            <div class="col-lg-9">
              <app-dropdown [(ngModel)]="configuracion.idlabor" (ngModelChange)="filtrarProyectoPorLabor()"
                [editable]="true" [data]="filteredLabores" [valueField]="'idlabor'" [optionLabel]="'labor'"
                [textShow]="'Labor'" [textShow2]="'una Labor'" [required]="true">
              </app-dropdown>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
        <!-- <pre style="background:#111;color:#0f0;padding:8px">
    {{ filteredProyectos | json }}
    </pre> -->


    <!-- PROYECTO / ALMACÉN -->
    <div class="row">
      <div class="col-6 col-lg-6 marginBottom">
        <fieldset>
          <div class="form-group row box-labelFloat">
            <label class="col-lg-3 col-form-label">
              <b class="text-danger">*</b> Proyecto
            </label>
            <div class="col-lg-9">
              <app-dropdown [(ngModel)]="configuracion.idproyecto" [editable]="true" [data]="filteredProyectos"
                [valueField]="'afe'" [optionLabel]="'proyectoio'" [textShow]="'Proyecto'" [textShow2]="'un proyecto'"
                [required]="true">
              </app-dropdown>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="col-6 col-lg-6 marginBottom">
        <fieldset>
          <div class="form-group row box-labelFloat">
            <label class="col-lg-3 col-form-label">
              <b class="text-danger">*</b> Almacén
            </label>
            <div class="col-lg-9">
              <select [(ngModel)]="configuracion.idalmacen" name="almacen" class="form-select mb-2" [ngClass]="{
                  'is-invalid': showValidation && !configuracion.idalmacen,
                  'is-valid': configuracion.idalmacen
                }">
                <option [ngValue]="''" disabled>Seleccione una opción</option>
                <option *ngFor="let a of almacenes" [ngValue]="a.idalmacen">
                  {{ a.almacen }}
                </option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <!-- ITEM / TIPO ITEM -->
    <div class="row">
      <div class="col-12 col-lg-6 marginBottom" [hidden]="ocultarItem">
        <fieldset>
          <div class="form-group row box-labelFloat">
            <label class="col-lg-3 col-form-label">
              <b class="text-danger">*</b> Item
            </label>
            <div class="col-lg-9">
              <select [(ngModel)]="configuracion.iditem" name="item" class="form-select mb-2" [ngClass]="{
                  'is-invalid': showValidation && !configuracion.iditem,
                  'is-valid': configuracion.iditem
                }">
                <option [ngValue]="''" disabled>Seleccione una opción</option>
                <option *ngFor="let it of items" [ngValue]="it.id">
                  {{ it.descripcion }}
                </option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="col-6 col-lg-6 marginBottom">
        <fieldset>
          <div class="form-group row box-labelFloat">
            <label class="col-lg-3 col-form-label">
              <b class="text-danger">*</b> Tipo Item
            </label>
            <div class="col-lg-9">
              <select [(ngModel)]="configuracion.idTipoItem" name="tipoItem" class="form-select mb-2" 
                 (ngModelChange)="onTipoItemChange()" [ngClass]="{
                  'is-invalid': showValidation && !configuracion.idTipoItem,
                  'is-valid': configuracion.idTipoItem
                }">
                <option [ngValue]="''" disabled>Seleccione una opción</option>
                <option *ngFor="let ti of tipoItem" [ngValue]="ti.id">
                  {{ ti.descripcion }}
                </option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <!-- BOTONES -->
    <div class="botonGuardar mb-4 mt-4 d-flex align-items-center justify-content-center gap-3">
      <button class="btn btn-primary botonCelular" (click)="sincronizarTablasMaestras()">
        <i class="icon icon-sync"></i> Sincronizar
      </button>
      <button class="btn btn-success botonCelular" (click)="guardarConfiguracion()">
        <i class="icon icon-floppy-disk"></i> Guardar
      </button>
    </div>

  </div>
</div>