<div class="container-fluid">


    <h5 class="mb-3">Reporte de Saldos para Despacho</h5>


    <div class="row mb-3">
        <div class="col-md-3">
            <input type="text" [(ngModel)]="filtroCodigo" class="form-control" placeholder="Filtrar por código">
        </div>
        <div class="col-md-3">
            <input type="text" [(ngModel)]="filtroAlmacen" class="form-control" placeholder="Filtrar por almacén">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="listarSaldos()">Actualizar</button>
        </div>
    </div>


    <!-- <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm">
            <thead class="table-dark">
                <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Almacén</th>
                    <th>Stock</th>
                    <th>Requerido</th>
                    <th>Disponible</th>
                    <th class="text-center">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of filtrar()">
                    <td>{{ item.codigo }}</td>
                    <td>{{ item.descripcion }}</td>
                    <td>{{ item.almacen }}</td>
                    <td class="text-center">{{ item.stockActual }}</td>
                    <td class="text-center">{{ item.cantidadRequerida }}</td>
                    <td class="text-center" [ngClass]="{'text-danger': item.stockDisponible <= 0}">
                        {{ item.stockDisponible }}
                    </td>
                    <td class="text-center">
                        <button class="btn btn-success btn-sm" [disabled]="item.stockDisponible <= 0"
                            (click)="despachar(item)">
                            Despachar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->

    <!-- TABLA REAL -->
    <p-table #dt [value]="saldos" [paginator]="true" [rows]="20" [totalRecords]="saldos.length" [loading]="loading"
        responsiveLayout="scroll" [pageLinks]="5" [showCurrentPageReport]="true"
        currentPageReportTemplate="<{first} - {last} de {totalRecords}>"
        styleClass="p-datatable-sm p-datatable-striped">

        <ng-template pTemplate="header">
            <tr>
                <th style="width:50px">#</th>
                <th style="width:50px">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="min-width:120px" pSortableColumn="item">Código</th>
                <th style="min-width:200px" pSortableColumn="descripcionLocal">Descripción</th>
                <th style="min-width:100px" pSortableColumn="unidadCodigo">Unidad</th>
                <th style="min-width:120px" pSortableColumn="descripcionLocal">Almacen</th>
                <th style="min-width:120px" pSortableColumn="descripcionLocal">Stock Actual</th>
                <th style="min-width:140px" pSortableColumn="descripcionLocal">Stock Comprometido</th>
                <th style="min-width:140px" pSortableColumn="descripcionLocal">Stock Disponible</th>
                <th style="min-width:50px">Acciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-c let-i="rowIndex">
            <tr>
                <td>{{ i + 1 }}</td>
                <td>
                    <p-tableCheckbox [value]="c"></p-tableCheckbox>
                </td>
                <td>{{ c.codigo }}</td>
                <td>{{ c.descripcion }}</td>
                <td>{{ c.unidad }}</td>
                <td>{{ c.almacen }}</td>
                <td>{{ c.stockActual }}</td>
                <td>{{ c.stockComprometido }}</td>
                <td>{{ c.stockDisponible }}</td>
                <!-- <td>{{ c.estado === 'A' ? 'Activo' : 'Inactivo' }}</td> -->
                <td>
                    <button class="btn btn-success btn-sm" [disabled]="c.stockDisponible <= 0" (click)="despachar(c)">
                        Despachar
                    </button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8" class="text-center">No hay registros</td>
            </tr>
        </ng-template>

    </p-table>
</div>