<div class="container-fluid">


    <h5 class="mb-3">Reporte de Saldos para Despacho</h5>


    <div class="row mb-3">
        <div class="col-md-3">
            <input type="text" [(ngModel)]="filtroCodigo" class="form-control" placeholder="Filtrar por código" (input)="aplicarFiltro()">
        </div>
        <div class="col-md-3">
            <input type="text" [(ngModel)]="filtroAlmacen" class="form-control" placeholder="Filtrar por almacén" (input)="aplicarFiltro()">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="listarSaldos()">Listar</button>
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted">Total: {{ saldosFiltrados.length }} registros</span>
        </div>
    </div>

    <!-- TABLA REAL -->
    <p-table #dt [value]="saldosFiltrados" [paginator]="true" [rows]="20" [totalRecords]="saldosFiltrados.length" [loading]="loading"
        responsiveLayout="scroll" [pageLinks]="5" [showCurrentPageReport]="true"
        currentPageReportTemplate="<{first} - {last} de {totalRecords}>"
        styleClass="p-datatable-sm p-datatable-striped">

        <ng-template pTemplate="header">
            <tr>
                <th style="width:50px">#</th>
                <th style="width:50px">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="min-width:120px" pSortableColumn="item">Código</th>
                <th style="min-width:200px" pSortableColumn="descripcionLocal">Descripción</th>
                <th style="min-width:100px" pSortableColumn="unidadCodigo">Unidad</th>
                <th style="min-width:120px" pSortableColumn="descripcionLocal">Almacen</th>
                <th style="min-width:120px" pSortableColumn="descripcionLocal">Stock Actual</th>
                <th style="min-width:140px" pSortableColumn="descripcionLocal">Stock Comprometido</th>
                <th style="min-width:140px" pSortableColumn="descripcionLocal">Stock Disponible</th>
                <!-- <th style="min-width:50px">Acciones</th> -->
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-c let-i="rowIndex">
            <tr>
                <td>{{ i + 1 }}</td>
                <td>
                    <p-tableCheckbox [value]="c"></p-tableCheckbox>
                </td>
                <td>{{ c.codigo }}</td>
                <td>{{ c.descripcion }}</td>
                <td>{{ c.unidad }}</td>
                <td>{{ c.almacen }}</td>
                <td>{{ c.stockActual }}</td>
                <td>{{ c.stockComprometido }}</td>
                <td>{{ c.stockDisponible }}</td>
                <!-- <td>{{ c.estado === 'A' ? 'Activo' : 'Inactivo' }}</td> -->
                <!-- <td>
                    <button class="btn btn-success btn-sm" [disabled]="c.stockDisponible <= 0" (click)="despachar(c)">
                        Despachar
                    </button>
                </td> -->
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8" class="text-center">No hay registros</td>
            </tr>
        </ng-template>

    </p-table>
</div>