.dropdown-cards {
  width: 100%;

  .panel {
    position: absolute;
    top: 50px;
    width: 100%;
    background: white;
    border-radius: 12px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 900;
    padding: 10px;
  }

  .card-item {
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      background: #f7f9ff;
    }

    .titulo {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 3px;
    }

    .codigo {
      font-size: 12px;
      color: gray;
    }
  }

  .no-data {
    text-align: center;
    padding: 10px;
    color: #888;
  }
}
