<div class="container mt-3">

  <!-- TÍTULO DINÁMICO -->
  <h4 class="mb-3 fw-bold text-primary">{{ titulo }}</h4>

  <!-- TABS -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="items" routerLinkActive="active">Items</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="comodities" routerLinkActive="active">Commodities</a>
    </li>
  </ul>

  <!-- CONTENIDO -->
  <div class="mt-3">
    <router-outlet></router-outlet>
  </div>

</div>





