.nav-tabs .nav-link {
  font-weight: 600;
  color: #6c757d;
  border-radius: 6px 6px 0 0;
  transition: 0.2s;
}

.nav-tabs .nav-link:hover {
  color: #0d6efd;
}

.nav-tabs .nav-link.active {
  background-color: #0d6efd;
  color: white;
  border-color: #0d6efd;
}
